absl-py==1.3.0
accelerate==0.15.0
aiohttp==3.8.3
aiosignal==1.3.1
altair==4.2.0
antlr4-python3-runtime==4.9.3
anyio==3.6.2
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
bcrypt==4.0.1
blinker==1.5
braceexpand==0.1.7
cachetools==5.2.0
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.1.3
cmake==3.25.0
comm==0.1.2
commonmark==0.9.1
contexttimer==0.3.3
contourpy==1.0.6
cryptography==39.0.1
cycler==0.11.0
debugpy==1.6.4
decorator==5.1.1
decord==0.6.0
diffusers==0.10.2
dill==0.3.6
distlib==0.3.6
einops==0.6.0
entrypoints==0.4
executing==1.2.0
fairscale==0.4.4
fastapi==0.88.0
ffmpy==0.3.0
filelock==3.8.2
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
ftfy==6.1.1
gitdb==4.0.10
GitPython==3.1.30
google-api-core==2.11.0
google-api-python-client==2.70.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.57.0
gradio==3.13.2
grpcio==1.51.1
h11==0.12.0
httpcore==0.15.0
httplib2==0.21.0
httpx==0.23.1
huggingface-hub==0.11.1
identify==2.5.10
idna==3.4
imageio==2.22.4
importlib-metadata==5.1.0
install==1.3.5
iopath==0.1.10
ipykernel==6.19.2
ipython==8.10.0
ipywidgets==8.0.3
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.17.3
jupyter_client==7.4.8
jupyter_core==5.1.0
jupyterlab-widgets==3.0.4
kaggle==1.5.12
kiwisolver==1.4.4
lavis @ file:///home/aslan/Documents/Github/thematic_image_generation/LAVIS
linkify-it-py==1.0.3
llvmlite==0.39.1
loguru==0.6.0
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
multidict==6.0.3
mypy-extensions==0.4.3
nest-asyncio==1.5.6
networkx==2.8.8
nodeenv==1.7.0
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python-headless==4.5.5.64
opendatasets==0.1.22
orjson==3.8.3
packaging==22.0
pandas==1.5.2
paramiko==2.12.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pika==1.3.1
Pillow==9.3.0
platformdirs==2.6.0
plotly==5.11.0
portalocker==2.6.0
pre-commit==2.20.0
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocoevalcap==1.2
pycocotools==2.0.6
pycparser==2.21
pycryptodome==3.16.0
pydantic==1.10.2
pydeck==0.8.0
pydub==0.25.1
Pygments==2.13.0
Pympler==1.0.1
PyNaCl==1.5.0
pyparsing==3.0.9
pyre-extensions==0.0.23
pyrsistent==0.19.2
pyTelegramBotAPI==4.8.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-magic==0.4.27
python-multipart==0.0.5
python-slugify==7.0.0
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==24.0.1
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==12.6.0
rsa==4.9
scikit-image==0.19.3
scipy==1.9.3
semver==2.13.0
sentencepiece==0.1.97
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
stack-data==0.6.2
starlette>=0.25.0
streamlit==1.16.0
tenacity==8.1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
text-unidecode==1.3
tifffile==2022.10.10
timm==0.4.12
tokenizers==0.13.2
toml==0.10.2
toolz==0.12.0
torch==1.13.1
torchvision==0.14.1
tornado==6.2
tqdm==4.64.1
traitlets==5.7.1
transformers==4.25.1
triton==2.0.0.dev20221202
typing-inspect==0.8.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
uc-micro-py==1.0.1
uritemplate==4.1.1
urllib3==1.26.13
uvicorn==0.20.0
validators==0.20.0
virtualenv==20.17.1
watchdog==2.2.0
wcwidth==0.2.5
webdataset==0.2.31
websockets==10.4
Werkzeug==2.2.3
widgetsnbextension==4.0.4
xformers==0.0.12
yarl==1.8.2
zipp==3.11.0
